name: test-tools
version: 1.0.0

entities:
  - name: Scope
    unique_field: uuid
    searchable_fields:
      - name: name
        type: string
      - name: file
        type: string
      - name: type
        type: string
    relationships:
      - type: CONSUMES
        target: Scope
        direction: outgoing
